<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hive-ext-event" >
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.logo" />
		</td>
		<td>
				<f:image src="{event.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.zip" />
		</td>
		<td>
		{event.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.city" />
		</td>
		<td>
		{event.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.street" />
		</td>
		<td>
		{event.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.location" />
		</td>
		<td>
		{event.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.country" />
		</td>
		<td>
		{event.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.building" />
		</td>
		<td>
		{event.building}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.room" />
		</td>
		<td>
		{event.room}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.booth" />
		</td>
		<td>
		{event.booth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.start_date" />
		</td>
		<td>
		{event.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.end_date" />
		</td>
		<td>
		{event.endDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.url" />
		</td>
		<td>
		{event.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextevent_domain_model_event.document" />
		</td>
		<td>
				<a href="{event.document.originalResource.publicUrl}">
					{event.document.originalResource.name}
				</a>
		</td>
	</tr>
</table>
</html>