@import "hive_thm_custom/Resources/Private/Assets/Scss/Import/index";

.tx-hive-ext-event {

  p {
    margin: 0;
  }
  @include media-breakpoint-up(md) {

  }

  .hiveextevent_event_list__item {
    margin-bottom: 40px;
  }

  .hiveextevent_event_list__item__logo {

  }

  .hiveextevent_event_list__item__body {
    span {
      display: block;
    }
    span.badge,
    span.hiveextevent_event_list__item__body__address__zip,
    span.hiveextevent_event_list__item__body__address__city {
      display: inline;
    }
  }
}