<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:hive="http://typo3.org/ns/HIVE/HiveViewhelpers/ViewHelpers"
	  xmlns:hiveimg="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

	<f:section name="main">

		<f:flashMessages />
		<div id="hiveextevent_event_list" class="hiveextevent_event_list container">
			<div class="row {flex_classes}">
				<f:for each="{oEvents}" as="event">
					<f:render section="event_item"
							  arguments="{event: event}"/>
				</f:for>
			</div>
		</div>

	</f:section>


	<f:section name="event_item">

		<div id="event_{event.uid}"
			 class="hiveextevent_event_list__item col-md-6"
			 data-event-uid="{event.uid}">
			<div class="row d-flex align-items-start">
				<f:render section="event_image"
						  arguments="{event: event}"/>

				<f:render section="event_information"
						  arguments="{event: event}"/>
			</div>
		</div>

	</f:section>


	<f:section name="event_image">

		<f:if condition="{event.logo}">
			<div class="hiveextevent_event_list__item__logo col-md-5">
				<hiveimg:cptCntImg uid="{event.logo.uid}"/>
			</div>
		</f:if>

	</f:section>


	<f:section name="event_information">

		<div class="hiveextevent_event_list__item__body col-md-7">
			<!-- TITLE -->
			<f:if condition="{event.title}">
				<header class="hiveextevent_event_list__item__header">
					<h4>{event.title}</h4>
				</header>
			</f:if>

			<!-- DATE -->
			<f:if condition="{event.startDate}">
				<div class="hiveextevent_event_list__item__body__date">
					<span class="hiveextevent_event_list__item__body__date__start"><f:format.date format="{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:format.date')}">{event.startDate}</f:format.date></span>
					<span class="hiveextevent_event_list__item__body__date__end"><f:format.date format="{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:format.date')}">{event.endDate}</f:format.date></span>
				</div>

				<hive:dateCombiner dStart="{event.startDate}" dEnd="{event.endDate}" sFormat="{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:format.date')}" />
			</f:if>

			<!-- DURATION -->
			<f:if condition="{hive:dateDifferenceCalculator(dStart:'{event.startDate}', dEnd:'{event.endDate}', dReturnType:'%a')} > 0">
				<div class="hiveextevent_event_list__item__body__date">
					<hive:dateDifferenceCalculator dStart="{event.startDate}" dEnd="{event.endDate}" dReturnType="%a"/>
					<f:if condition="{hive:dateDifferenceCalculator(dStart:'{event.startDate}', dEnd:'{event.endDate}', dReturnType:'%a')} == 1">
						<f:then>
							{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:unit.day')}
						</f:then>
						<f:else>
							{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:unit.days')}
						</f:else>
					</f:if>
				</div>
			</f:if>

			<!-- ADDRESS -->
			<div class="hiveextevent_event_list__item__body__address">
				<f:if condition="{event.zip}">
					<span class="hiveextevent_event_list__item__body__address__zip">{event.zip}</span>
				</f:if>
				<f:if condition="{event.city}">
					<span class="hiveextevent_event_list__item__body__address__city">{event.city}</span>
				</f:if>
				<f:if condition="{event.street}">
					<span class="hiveextevent_event_list__item__body__address__street">{event.street}</span>
				</f:if>
				<f:if condition="{event.country}">
					<span class="hiveextevent_event_list__item__body__address__country">{event.country}</span>
				</f:if>
			</div>

			<!-- LOCATION -->
			<f:if condition="{event.location}">
				<div class="hiveextevent_event_list__item__body__location">
					<span>{event.location}</span>
				</div>
			</f:if>

			<!-- BUILDING -->
			<f:if condition="{event.building}">
				<div class="hiveextevent_event_list__item__body__building">
					<span>{event.building}</span>
				</div>
			</f:if>

			<!-- ROOM -->
			<f:if condition="{event.room}">
				<div class="hiveextevent_event_list__item__body__room">
					<span>{event.room}</span>
				</div>
			</f:if>

			<!-- BOOTH -->
			<f:if condition="{event.booth}">
				<div class="hiveextevent_event_list__item__body__booth">
					<span>{event.booth}</span>
				</div>
			</f:if>

			<!-- TEXT -->
			<f:if condition="{event.text}">
				<div class="hiveextevent_event_list__item__body__text">
					<f:format.html>{event.text}</f:format.html>
				</div>
			</f:if>

			<!-- URL -->
			<f:if condition="{event.url}">
				<div class="hiveextevent_event_list__item__body__url">
					<f:link.typolink parameter="{event.url}" target="_blank" class="hiveextevent_event_list__item__body__url__a">
						{event.url}
					</f:link.typolink>
				</div>
			</f:if>

			<!-- CATEGORIES -->
			<v:variable.set name="aSysCategories" value="{hive:sysCategory(iUid:'{event.uid}')}"/>
			<f:if condition="{aSysCategories}">
				<div class="hiveextevent_event_list__item__body__categories">
					<f:for each="{aSysCategories}" as="aSysCategory">
						<span class="badge badge-primary">{aSysCategory.title}</span>
					</f:for>
				</div>
			</f:if>
		</div>

	</f:section>

</html>