<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:hive="http://typo3.org/ns/HIVE/HiveViewhelpers/ViewHelpers"
      xmlns:hiveimg="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

      <div class="card event__card position_relative">

            <div class="card-img-area">
                <f:if condition="{settings.slider.default.background.image}">
                    <f:image class="card-img-top" src="{settings.slider.default.background.image}" treatIdAsReference="0" alt="Card image cap" />
                </f:if>
                <f:if condition="{event.logo.uid}">
                    <span>
                        <hiveimg:cptCntImg uid="{event.logo.uid}"/>
                    </span>
                </f:if>
            </div>

            <div class="card-body">
                <!-- TITLE -->
                <h4 class="card-title"><f:format.raw>{event.title}</f:format.raw></h4>

                <!-- TEXT -->
                <f:if condition="{event.text}">
                    <f:format.html>{event.text}</f:format.html>
                </f:if>

                <div class="event__details">
                    <!-- ADDRESS-->
                    <div class="hiveextevent_event_list__item__body__address">
                        <f:if condition="{event.zip}">
                            <span class="hiveextevent_event_list__item__body__address__zip">{event.zip}</span>
                        </f:if>
                        <f:if condition="{event.city}">
                            <span class="hiveextevent_event_list__item__body__address__city">{event.city}</span>
                        </f:if>
                        <f:if condition="{event.street}">
                            <span class="hiveextevent_event_list__item__body__address__street">{event.street}</span>
                        </f:if>
                        <f:if condition="{event.country}">
                            <span class="hiveextevent_event_list__item__body__address__country">{event.country}</span>
                        </f:if>
                    </div>

                    <!-- LOCATION -->
                    <f:if condition="{event.location}">
                        <div class="hiveextevent_event_list__item__body__location">
                            <span>{event.location}</span>
                        </div>
                    </f:if>

                    <!-- BUILDING -->
                    <f:if condition="{event.building}">
                        <div class="hiveextevent_event_list__item__body__building">
                            <span>{event.building}</span>
                        </div>
                    </f:if>

                    <!-- ROOM -->
                    <f:if condition="{event.room}">
                        <div class="hiveextevent_event_list__item__body__room">
                            <span>{event.room}</span>
                        </div>
                    </f:if>

                    <!-- BOOTH -->
                    <f:if condition="{event.booth}">
                        <div class="hiveextevent_event_list__item__body__booth">
                            <span>{event.booth}</span>
                        </div>
                    </f:if>
                </div>

            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- DATE -->
                    <f:if condition="{event.startDate}">
                        <div class="card-date">
                            <f:if condition="{event.endDate}">
                                <f:then>
                                    <hive:dateCombiner dStart="{event.startDate}" dEnd="{event.endDate}" sFormat="{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:format.date')}" />
                                </f:then>
                                <f:else>
                                    <f:format.date format="{f:translate(key:'LLL:EXT:hive_ext_event/Resources/Private/Language/translation.xlf:format.date')}">{event.startDate}</f:format.date>
                                </f:else>
                            </f:if>
                        </div>
                    </f:if>

                    <!-- URL -->
                    <f:if condition="{event.url}">
                        <div class="card-url">
                            +
                        </div>
                    </f:if>
                </div>
            </div>

          <f:if condition="{event.url}">
              <f:link.typolink parameter="{event.url}" class="cover" target="_blank">&nbsp;</f:link.typolink>
          </f:if>

      </div>
</html>